name: UnicomTask

on:
  push:
    branches: main
  gollum:
  workflow_dispatch:
  schedule:
    - cron: '30 23 * * *'

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/run_in_Actions/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - name: Build and publish
      env:
        USERNAME_COVER: ${{ secrets.USERNAME_COVER }}
        PASSWORD_COVER: ${{ secrets.PASSWORD_COVER }}
        APPID_COVER: ${{secrets.APPID_COVER}}
        EMAIL_COVER: ${{secrets.EMAIL_COVER}}
        BOT_EMAIL: ${{secrets.BOT_EMAIL}}
        BOT_PASSWORD: ${{secrets.BOT_PASSWORD}}
        LOTTERY_NUM: ${{secrets.LOTTERY_NUM}}
      run: |
        python main.py
